#navbar-after-login{
    display: none;
}

.nav-link{
    color: white;
}

.navbar-brand{
    margin-left: 20px;
    color: white;
}

.navbar-nav{
    align-items: flex-end;
}

.spacer {
    top: 0;
    width: 100%;
}